[Desktop Entry]
Type=Application
MimeType=video/x-matroska;video/ogg;video/mp4;
Name=omxwrapper
NoDisplay=true
StartupNotify=true
Terminal=true
Exec=/usr/bin/playmovie %U
